@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="title">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <a href="http://mediad.publicbroadcasting.net/p/wvtf/files/201403/Books_with_glasses.jpg">
                    <img src="http://mediad.publicbroadcasting.net/p/wvtf/files/201403/Books_with_glasses.jpg" alt="Lights" style="width:100%">
                </a>
                <div class="caption">
                    <h3 class="pull-right">Price: $9:99</h3>
                    <h3>Book1</h3>
                    <p>Artist: Van Gogh</p>
                    <button class="addToCart">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

</div>